<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href="@{/resources/css/simplepicker.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>
<div class="container-sm">
    <h1 class="text-primary text-center">Updating lesson</h1>
    <br/>
    <div class="container">
        <a class="btn btn-outline-primary" th:href="@{/lessons}">Come back to list of lessons</a>
    </div>
    <br/>
    <form th:method="PATCH"
          th:action="@{/lessons/{id}(id=${lessonDto.getLessonId()})}"
          th:object="${lessonDto}">
        <div class="form-group">
            <label for="lessonName">Enter lesson name: </label>
            <input class="form-control" type="text" th:field="*{lessonName}" id="lessonName"/>
            <br/>

            <label>Select group: </label>
            <input type="text" class="form-control" list="groups" th:field="*{groupId}">
            <datalist id="groups" th:each="group: ${groups}">
                <option th:each="group: ${groups}"
                        th:text="${group.getGroupName()}"
                        th:value="${group.getGroupId()}">
                </option>
            </datalist>
            <br/>

            <label>Select room: </label>
            <input type="text" class="form-control" list="rooms" th:field="*{roomId}">
            <datalist id="rooms" th:each="room: ${rooms}">
                <option th:each="room: ${rooms}"
                        th:text="${room.getRoomNumber()}"
                        th:value="${room.getRoomId()}">
                </option>
            </datalist>
            <br/>

            <label>Select teacher: </label>
            <input type="text" class="form-control" list="teachers" th:field="*{teacherId}">
            <datalist id="teachers" th:each="teacher: ${teachers}">
                <option th:each="teacher: ${teachers}"
                        th:text="${teacher.getFirstName()} + ' ' + ${teacher.getLastName()}"
                        th:value="${teacher.getTeacherId()}">
                </option>
            </datalist>
            <br/>

            <label>Select Date and Time: </label>
            <input type="datetime" class="form-control date" id="datePicker"  th:field="*{date}">

            <br/>
            <input class="btn btn-primary" type="submit" value="Update!"/>
        </div>
    </form>
</div>
<script th:src="@{/resources/js/simplepicker.js}"></script>
<script th:src="@{/resources/js/convertDateFormat.js}"></script>
<script th:src="@{/resources/js/selectDate.js}"></script>
</body>
</html>